*.json linguist-language=JSON
*.jsonc linguist-language=JSON

*.yaml linguist-language=YAML
*.yml linguist-language=YAML

*.toml linguist-language=TOML

.config/**/*.json linguist-vendored=false
.config/**/*.jsonc linguist-vendored=false
.config/**/*.yaml linguist-vendored=false
.config/**/*.yml linguist-vendored=false
.config/**/*.toml linguist-vendored=false
